<p>Please enter the app types and filters for which you need accessibility criteria and example products.</p>

<div class="accordion-action-buttons">
  <button matButton (click)="accordion().openAll()">Expand All</button>
  <button matButton (click)="accordion().closeAll()">Collapse All</button>
</div>

<mat-accordion class="filters-accordion" multi>
    @for (filterType of filterTypes(); track filterType; let idx = $index, e = $even)  {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{ filterType.name }}</mat-panel-title>
                <mat-panel-description>
                    {{ productTypes().length }} selected
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>{{ filterType.description }}</p>
            @if (filterType.name == EnFilterType.productType) {
                <form> <!-- [formGroup]="formGroup1()"-->
                    <mat-form-field class="example-chip-list">
                        <mat-label>{{ filterTypes()[0].name }}</mat-label>
                        <input
                            name="currentProductType"
                            placeholder=""
                            #productTypeInput
                            matInput
                            [formControl]="myControl"
                            [matChipInputFor]="chipGrid"
                            [matAutocomplete]="auto"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)"
                        />
                        <!-- [(ngModel)]="currentProductType" -->
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); productTypeInput.value = ''">
                            @for (productType of filteredProductTypes | async; track productType) {
                                <mat-option [value]="productType">{{ productType }}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <mat-chip-grid #chipGrid aria-label="Product Type selection">
                    @for (productType of productTypes(); track $index) {
                        <mat-chip-row (removed)="remove(productType)">
                            {{ productType }}
                            <button matChipRemove [attr.aria-label]="'remove ' + productType">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    }
                </mat-chip-grid>
            } @else {
                <div class="list-selection-container">
                    <div>
                        <mat-selection-list #filterTypes1>
                            @for (filterTypeInner of allFilterTypes()[filterType.name].slice(0, (allFilterTypes()[filterType.name].length + 1) / 2); track filterTypeInner) {
                                <mat-list-option togglePosition="before" (selectedChange)="changeFilterTypeSelection($event, filterTypeInner.id)">{{ filterTypeInner.name }}</mat-list-option>
                            }
                        </mat-selection-list>
                    </div>
                    <div>
                        <mat-selection-list #filterTypes2>
                            @for (filterTypeInner of allFilterTypes()[filterType.name].slice((allFilterTypes()[filterType.name].length + 1) / 2, allFilterTypes()[filterType.name].length); track filterTypeInner) {
                                <mat-list-option togglePosition="before" (selectedChange)="changeFilterTypeSelection($event, filterTypeInner.id)">{{ filterTypeInner.name }}</mat-list-option>
                            }
                        </mat-selection-list>
                    </div>
                </div>
            }
        </mat-expansion-panel>
    }
</mat-accordion>

<p style="margin-left: auto;">{{ selectedFilterTypeIds().length }} selected</p>
