<mat-tab-group>
  <mat-tab [label]="('CRITERIA.SEARCHES' | translate) + ' / ' + ('CRITERIA.CRITERIA_LABEL' | translate)">
    @if (store.filterSetFavoritesCount() === 0) {
        <p class="no-favorites-msg">
            {{ 'FAVORITES.NO_FAVORITE_CRITERIA_MSG' | translate }}
        </p>
    } @else {
        <p>{{ 'COMMON.SHOW_LIST' | translate }}...</p>
    }
  </mat-tab>
  <mat-tab [label]="('PRODUCTS.PRODUCTS_LABEL' | translate)">
    @if (store.productFavoritesCount() === 0) {
        <p class="no-favorites-msg">
            {{ 'FAVORITES.NO_FAVORITE_PRODUCTS_MSG' | translate }}
        </p>
    } @else {
        <mat-list role="list" class="favorite-products-list">
            @for (productSave of store.productSaves(); track productSave) {
                <mat-list-item role="listitem" class="list-item">
                    <div class="favorites-list-item-container">
                        <span>{{ productSave.productId }}</span>
                        <div>
                            <button 
                                mat-icon-button
                                class="product-favorite-remove-btn"
                                [aria-label]="'Product favorite remove icon-button'"
                                [matTooltip]="('COMMON.REMOVE' | translate)" 
                                matTooltipPosition="left"
                                (click)="store.removeProductFavorite(productSave.id)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
            }
        </mat-list>
    }
  </mat-tab>
</mat-tab-group>
