<h2>Reset Password</h2>
@if (resettingState() == PasswordResetState.resetting) {
    <form #pwResetForm="ngForm" (ngSubmit)="onSubmit(pwResetForm, $event)">
        <mat-form-field id="password-field">
          <mat-label>New Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel"
            minlength="6" maxlength="50" />
          @if (passwordInput.invalid && passwordInput.touched) {
            <mat-error>Password is required.</mat-error>
          }
        </mat-form-field>
        <mat-form-field id="confirm-password-field">
          <mat-label>Confirm new Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="confirmPassword" required
            #confirmPasswordInput="ngModel" minlength="6" maxlength="50" />
          @if (confirmPasswordInput.invalid && confirmPasswordInput.touched) {
            <mat-error>Confirm password is required.</mat-error>
          }
        </mat-form-field>
        <button 
            id="reset-button" 
            mat-flat-button 
            color="primary" 
            type="submit" 
            [disabled]="pwResetForm.invalid || resetDisabled()">
                Reset
        </button>
    </form>
} @else {
    <p>Something went wrong resetting the password. Please contact support via email.</p>
}
