<h2>{{ 'AUTH.RESET_PW_HEADER' | translate }}</h2>
@if (resettingState() == PasswordResetState.resetting) {
    <form #pwResetForm="ngForm" (ngSubmit)="onSubmit(pwResetForm, $event)">
        <mat-form-field id="password-field">
          <mat-label>{{ 'AUTH.NEW_PW' | translate }}</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel"
            minlength="6" maxlength="50" />
          @if (passwordInput.invalid && passwordInput.touched) {
            <mat-error>{{ 'AUTH.PASSWORD' | translate }} <strong>{{ 'COMMON.IS_REQUIRED' | translate }}</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field id="confirm-password-field">
          <mat-label>{{ 'AUTH.CONFIRM_NEW_PW' | translate }}</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="confirmPassword" required
            #confirmPasswordInput="ngModel" minlength="6" maxlength="50" />
          @if (confirmPasswordInput.invalid && confirmPasswordInput.touched) {
            <mat-error>{{ 'AUTH.CONFIRM_PW' | translate }} <strong>{{ 'COMMON.IS_REQUIRED' | translate }}</strong></mat-error>
          }
        </mat-form-field>
        <button
            id="reset-button"
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="pwResetForm.invalid || resetDisabled()">
              {{ 'COMMON.RESET' | translate }}
        </button>
    </form>
} @else {
    <p>{{ 'AUTH.PW_RESET_FAILED_MSG' | translate }}</p>
}
