<p>Please enter information about the criterion.</p>
<p>Not all fields have to be filled out. The more information you can provide, 
    the easier it is for our admin to recheck everything.</p>

<div class="container">
  <div class="header">
    <div class="title"><mat-icon>add_2</mat-icon> <span>Criterion</span></div>
  </div>
  <form class="criterion-form" #addCriterionForm="ngForm" (ngSubmit)="onSubmit(addCriterionForm, $event)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="name" required #nameInput="ngModel"
        maxlength="50" />
      @if (nameInput.invalid && nameInput.touched) {
      <mat-error>Name is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="description-field">
      <mat-label>Description</mat-label>
      <!-- TODO: make text area markdown input -->
      <textarea matInput type="text" name="description" [(ngModel)]="description" required #descriptionInput="ngModel"
        minlength="6" maxlength="2000"></textarea>
      @if (descriptionInput.invalid && descriptionInput.touched) {
        <mat-error>Description is required.</mat-error>
      }
    </mat-form-field>

    @if (formErrorMessage) {
        <span class="error-message ng-touched ng-invalid">{{ formErrorMessage }}</span>
    }
    <div class="buttons">
      <button mat-button color="primary" (click)="null" type="button">Reset</button>
      <button id="send-button" mat-flat-button color="primary" type="submit" [disabled]="addCriterionForm.invalid">
        Send
      </button>
    </div>
  </form>
</div>
