// .heading {
//   //font-size: 1.75em;
//   width: 100%;
// }

:host {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.product-list-actions {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.cdk-table {
  // display: table;
}

.table-container {
  max-height: calc(100vh - 160px);
  overflow: auto;
}

.products-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .products-actions {
    display: flex;
  }
}
