// .heading {
//   //font-size: 1.75em;
//   width: 100%;
// }

:host {
  max-height: calc(100vh - 100px);
  display: block;
  overflow: auto;
  width: 100%;
  margin-top: 16px;
}

.cdk-table {
  // display: table;
}

.products-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .products-actions {
    display: flex;
  }
}
