<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="selectedCriteriaFiltersFormGroup">
    <form [formGroup]="selectedCriteriaFiltersFormGroup">
      <!-- <ng-template matStepLabel>Enter Filters</ng-template> -->
      <!-- <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <!--<pa-products-filters></pa-products-filters> [formGroup1]="criteriaFiltersFormGroup"-->
      <pa-filters-container (selectedFilterTypeIdsOut)="fdsa($event)"></pa-filters-container>
      <div class="stepper-actions-container">
        <button matButton (click)="stepper.reset()">{{ 'COMMON.RESET' | translate }}</button>
        @if (store.isAuthenticated()) {
          <button
            matButton="filled"
            aria-label="Criterion proposal button"
            [routerLink]="'/criterion-proposal/0'"
          >{{ 'CRITERIA.PROPOSE' | translate }}</button>
        }
        <button matButton matStepperNext (click)="asdf()">{{ 'COMMON.ENTER' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup"> <!--optional-->
    <form [formGroup]="secondFormGroup">
      <!-- <ng-template matStepLabel>Criteria</ng-template> -->
      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field> -->
      <!-- <pa-products-list></pa-products-list> -->
        <pa-criteria-list></pa-criteria-list>
      <div class="stepper-actions-container">
        <div class="action-buttons">
            <button matButton matStepperPrevious>{{ 'COMMON.BACK' | translate }}</button>
            <button matButton (click)="stepper.reset()">{{ 'COMMON.RESET' | translate }}</button>
        </div>
        <div class="action-sharing">
            @if (store.isAuthenticated()) {
              <button
                  mat-icon-button
                  class="products-link-btn"
                  aria-label="Products link button"
                  [matTooltip]="'PRODUCTS.CREATE_LINK' | translate"
                  matTooltipPosition="above"
                  (click)="linkCopied()">
                  <mat-icon>link</mat-icon>
              </button>
            }
            <button 
                mat-icon-button
                class="products-export-btn"
                aria-label="Products export button"
                [matTooltip]="'COMMON.DOWNLOAD' | translate" 
                matTooltipPosition="above"
                (click)="exportProductsFile()">
                <mat-icon>arrow_downward</mat-icon>
            </button>
            @if (store.isAuthenticated()) {
                <button
                    mat-icon-button
                    class="products-save-btn"
                    aria-label="Products save button"
                    [matTooltip]="'COMMON.SAVE' | translate"
                    matTooltipPosition="above"
                    (click)="openProductsSearchDialog()">
                    <mat-icon>add_2</mat-icon>
                </button>
            }
        </div>
        <div>
            @if (store.isAuthenticated()) {
                <button 
                  matButton="elevated"
                  aria-label="Criterion proposal button" 
                  [routerLink]="'/criterion-proposal/0'"
                  style="margin-right: 8px">{{ 'CRITERIA.PROPOSE' | translate }}
                </button>
            }
            <button 
                matButton="filled"
                class="products-page-btn"
                aria-label="Products page button"
                [matTooltip]="'PRODUCTS.SHOW_TOOLTIP' | translate" 
                matTooltipPosition="above"
                [routerLink]="'/products'">
                {{ 'PRODUCTS.SHOW' | translate }}
            </button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-stepper>
