<p>{{ 'CRITERIA.ENTER_INFO_MSG' | translate }}</p>
<p>{{ 'PROPOSALS.NOT_ALL_FIELDS_MSG' | translate }}</p>

<div class="container">
  <div class="header">
    <div class="title"><mat-icon>add_2</mat-icon> <span>{{ 'CRITERIA.CRITERION_LABEL' | translate }}</span></div>
  </div>
  <form class="criterion-form" #addCriterionForm="ngForm" (ngSubmit)="onSubmit(addCriterionForm, $event)">
    <mat-form-field>
      <mat-label>{{ 'COMMON.NAME' | translate }}</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="proposal().criterion!.name" required #nameInput="ngModel"
        maxlength="50" />
      @if (nameInput.invalid && nameInput.touched) {
        <mat-error>{{ 'COMMON.NAME' | translate }} {{ 'COMMON.IS_REQUIRED' | translate }}.</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="description-field">
      <mat-label>{{ 'COMMON.DESCRIPTION' | translate }}</mat-label>
      <!-- TODO: make text area markdown input -->
      <textarea matInput type="text" name="description" [(ngModel)]="proposal().criterion!.description" required #descriptionInput="ngModel"
        minlength="6" maxlength="2000"></textarea>
      @if (descriptionInput.invalid && descriptionInput.touched) {
        <mat-error>{{ 'COMMON.DESCRIPTION' | translate }} {{ 'COMMON.IS_REQUIRED' | translate }}.</mat-error>
      }
    </mat-form-field>

    <!-- <p>{{ productPart.description }}</p> -->
    <p>{{ 'CRITERIA.ENTER_PRODUCT_PART_INFO' | translate }}</p>
    <div class="list-selection-container">
      <mat-selection-list #productPartsList [formControl]="productPartsControl" name="productParts" [multiple]="false" required>
        @for (productPart of store.productParts(); track productPart) {
          <mat-list-option [value]="productPart.id" togglePosition="before">{{ productPart.name }}</mat-list-option>
        }
      </mat-selection-list>
      @if (!productPartsList.selectedOptions.hasValue() && productPartsControl.touched) {
        <mat-error>{{ 'COMMON.PRODUCT_PART' | translate }} {{ 'COMMON.IS_REQUIRED' | translate }}.</mat-error>
      }
    </div>

    @if (formErrorMessage) {
        <span class="error-message ng-touched ng-invalid">{{ formErrorMessage }}</span>
    }
    <div class="buttons">
      <div>
        <button mat-button color="primary" (click)="null" type="button">{{ 'COMMON.RESET' | translate }}</button>
        <button id="send-button" mat-flat-button color="primary" type="submit" [disabled]="addCriterionForm.invalid">
          {{ proposalId() ? ('COMMON.SAVE' | translate) : ('COMMON.SEND' | translate) }}
        </button>
      </div>
      <div *appHasPermission="'objects:approve'" id="approval-btns">
        <button mat-button color="warn" (click)="approve(false)" type="button">{{ 'COMMON.REJECT' | translate }}</button>
        <button
          id="approve-button"
          mat-flat-button
          color="primary"
          type="button"
          [disabled]="addCriterionForm.dirty || !productPartsList.selectedOptions.hasValue()"
          (click)="approve(true)">
          {{ 'COMMON.APPROVE' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
