@if (store.criteriaCount() == 0) {
    <p>No criteria could be found. Please try again...</p>
} @else {
    <mat-accordion class="example-headers-align">
       @for (criterion of store.criteria(); track criterion; let idx = $index, e = $even) {
            <mat-expansion-panel [expanded]="step() === (idx + 1)" (opened)="setStep(idx + 1)"> <!--hideToggle-->
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ criterion.name }} </mat-panel-title>
                    <mat-panel-description>
                        <!-- Type your name and age <mat-icon>account_circle</mat-icon> -->
                        <span>Priority: 1</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <p>{{ criterion.description }}</p>

               <mat-action-row>
                    @if (idx > 0) {
                      <button matButton (click)="prevStep()">Previous</button>
                    }
                    <button matButton (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
        }
    </mat-accordion>
}
