:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  //font-size: 1.75em;
  width: 100%;
  max-width: 700px;
}

.profile-table {
  width: 100%;
  max-width: 700px;
  min-width: 0;
}


.cdk-cell:not(:last-child) {
  padding-right: 2.5rem;
}

.profile-actions {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 700px;
  margin-top: 16px;
  gap: 16px;

  .delete-btn {
    background-color: #d11515eb;
  }
}
