<h2 class="heading">{{ 'AUTH.PROFILE' | translate }}</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 profile-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.NUMBER' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.NAME' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.VALUE' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTIONS' | translate }} </th>
    <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="openChangeUserDialog(element)">{{ 'COMMON.CHANGE' | translate }}</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="profile-actions">
  <button mat-flat-button class="delete-btn error" (click)="deleteAccount()">{{ 'COMMON.DELETE' | translate }}</button>
</div>

<div *appHasNotPermission="'objects:approve'" class="proposals-container">
  <div class="proposal-title">
    <h3>{{ 'PROPOSALS.OPEN_HEADER' | translate }}</h3>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="create-proposal-btn"
      aria-label="Create proposal icon-button"
      [matTooltip]="'PROPOSALS.CREATE' | translate" 
      matTooltipPosition="left"
      (click)="null"
    ><mat-icon>add</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        aria-label="Product proposal button"
        [routerLink]="'/product-proposal/0'"
        >{{ 'PRODUCTS.PRODUCT_LABEL' | translate }}</button>
      <button
        mat-menu-item
        aria-label="Criterion proposal button"
        [routerLink]="'/criterion-proposal/0'"
        >{{ 'CRITERIA.CRITERION_LABEL' | translate }}</button>
    </mat-menu>
  </div>
  @if (store.openProposalsCount() > 0) {
    <mat-list role="list">
      @for (proposal of store.openProposals(); track proposal) {
        <mat-list-item role="listitem">
           @if (proposal.product) {
            <span matListItemIcon class="material-symbols-outlined">
              box
            </span>
          } @else {
            <mat-icon matListItemIcon>rule</mat-icon>
          }
          <span matListItemTitle>
            {{ proposal.product ? proposal.product.name : proposal.criterion!.name }}
          </span>
          <span>{{ 'PROPOSALS.STATUS' | translate }}: {{ 'PROPOSALS.PENDING' | translate }}<mat-icon>draft</mat-icon></span>
          <div matListItemMeta>
            <button matIconButton (click)="null">
              <mat-icon>visibility</mat-icon>
            </button>
            <button matIconButton (click)="null">
              <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton (click)="null">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <p>- {{ 'PROPOSALS.NON_OPEN' | translate }} -</p>
  }
</div>
<div class="proposals-container">
  <h3>{{ 'PROPOSALS.CLOSED_HEADER' | translate }}</h3>
  @if (store.closedProposalsCount() > 0) {
    <mat-list role="list">
      @for (proposal of store.closedProposals(); track proposal) {
        <mat-list-item role="listitem">
          @if (proposal.product) {
            <span matListItemIcon class="material-symbols-outlined">
              box
            </span>
          } @else {
            <mat-icon matListItemIcon>rule</mat-icon>
          }
          <span matListItemTitle>
            {{ proposal.product ? proposal.product.name : proposal.criterion!.name }}
          </span>
          <span>{{ 'PROPOSALS.STATUS' | translate }}: {{ ProposalStatus[proposal.status] }}<mat-icon>done_all</mat-icon></span>
          <div matListItemMeta>
            <button matIconButton (click)="null">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <p>- {{ 'PROPOSALS.NON_CLOSED' | translate }} -</p>
  }
</div>
