<div class="accordion-action-buttons">
  <button matButton (click)="accordion().openAll()">Expand All</button>
  <button matButton (click)="accordion().closeAll()">Collapse All</button>
</div>

<mat-accordion class="filters-accordion" multi>
  <mat-expansion-panel class="filter-section">
    <mat-expansion-panel-header>
      <mat-panel-title> Product Types </mat-panel-title>
      <mat-panel-description>
        {{ productTypes().length }} selected
        <!-- <mat-icon>account_circle</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form>
        <mat-form-field class="example-chip-list">
            <mat-label>Product Types</mat-label>
            <input
                name="currentProductType"
                placeholder=""
                #productTypeInput
                matInput
                [formControl]="myControl"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
            />
                 <!-- [(ngModel)]="currentProductType" -->
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); productTypeInput.value = ''">
                @for (productType of filteredProductTypes | async; track productType) {
                    <mat-option [value]="productType">{{productType}}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </form>
                <mat-chip-grid #chipGrid aria-label="Product Type selection">
                @for (productType of productTypes(); track $index) {
                    <mat-chip-row (removed)="remove(productType)">
                        {{productType}}
                        <button matChipRemove [attr.aria-label]="'remove ' + productType">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                }
            </mat-chip-grid>
  </mat-expansion-panel>

  <mat-expansion-panel class="filter-section">
    <mat-expansion-panel-header>
      <mat-panel-title> Application Types </mat-panel-title>
      <mat-panel-description>
        {{ appTypes1.selectedOptions.selected.length + appTypes2.selectedOptions.selected.length }} selected
        <!-- <mat-icon>map</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="list-selection-container">
        <div>
            <mat-selection-list #appTypes1>
                @for (appType of appTypes.slice(0, (appTypes.length + 1) / 2); track appType) {
                    <mat-list-option togglePosition="before">{{ appType.name }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
        <div>
            <mat-selection-list #appTypes2>
                @for (appType of appTypes.slice((appTypes.length + 1) / 2, appTypes.length); track appType) {
                    <mat-list-option togglePosition="before">{{ appType.name }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="filter-section">
    <mat-expansion-panel-header>
      <mat-panel-title> Product Parts </mat-panel-title>
      <mat-panel-description>
        {{ productParts1.selectedOptions.selected.length + productParts2.selectedOptions.selected.length }} selected
        <!-- <mat-icon>date_range</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="list-selection-container">
        <div>
            <mat-selection-list #productParts1>
                @for (productPart of productParts.slice(0, (productParts.length + 1) / 2); track productPart) {
                    <mat-list-option togglePosition="before">{{ productPart.name }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
        <div>
            <mat-selection-list #productParts2>
                @for (productPart of productParts.slice((productParts.length + 1) / 2, productParts.length); track productPart) {
                    <mat-list-option togglePosition="before">{{ productPart.name }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
  </mat-expansion-panel>

    <mat-expansion-panel class="filter-section">
    <mat-expansion-panel-header>
      <mat-panel-title> Test Types </mat-panel-title>
      <mat-panel-description>
        {{ testTypes1.selectedOptions.selected.length + testTypes2.selectedOptions.selected.length }} selected
        <!-- <mat-icon>date_range</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="list-selection-container">
        <div>
            <mat-selection-list #testTypes1>
                @for (testType of testTypes.slice(0, (testTypes.length + 1) / 2); track testType) {
                    <mat-list-option togglePosition="before">{{ testType.name }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
        <div>
            <mat-selection-list #testTypes2>
                @for (testType of testTypes.slice((testTypes.length + 1) / 2, testTypes.length); track testType) {
                    <mat-list-option togglePosition="before">{{ testType.name }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
